.box {
  width: 400px;
  height: 300px;
  background-color: rgb(72, 175, 139);
  margin: 150px 0 0 450px;
  border-radius: 12px;
  transition: box-shadow 1s;
  position: relative;
}
.box:hover {
  box-shadow: 12px 10px rgb(159, 190, 114);
}
#timer {
  position: absolute;
  top: 100px;
  left: 130px;
  font-weight: bolder;
  font-size: xx-large;
  border: 2px;
}
button {
  padding: 12px 18px;
  border: none;
  margin: 220px 0 0 80px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(170, 170, 170);
  transition: color 1s;
}
button:hover {
  color: black;
}
button:active {
  transform: rotate(20deg);
}
